<div class="container">
  <%= render 'search_exports' %>
  <%= render 'main' %>
  <% byebug %>
  <%= link_to "Exports", export_xls_exports_path, method: :post %>
  <%= render 'shared/paginate' %>
</div>